.H-Mapper {
	background: #FFFFFF;
}
.H-MapperBox {
}
.H-MapperSpur {
	vertical-align: middle;
}

.H-MapperTextBox {
	font-face: Arial;
	color: #FF9F6F;
	border: 1px #1FF8F8 ridge;
	font-size: 12px;
	background-color: #DCFFFF;
	z-index: 3;
}


.H-MapperTextBox-Right {
	text-align: right;		
	spacing:2px;
}
.H-MapperTextBox-Focus {
	color: #E6BEFF;
	border: 1px #FF46E8 ridge;
	background-color: #FFFABC;
}
