<?xml version="1.0" encoding="UTF-8"?>

<web-app>

    <servlet>
        <servlet-name>TopicService</servlet-name>
		<servlet-class>com.aavu.server.TopicServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
         <servlet-name>TopicService</servlet-name>
         <url-pattern>/topicService</url-pattern>
    </servlet-mapping>
    
   <servlet>
        <servlet-name>TagService</servlet-name>
		<servlet-class>com.aavu.server.TagServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
         <servlet-name>TagService</servlet-name>
         <url-pattern>/tagService</url-pattern>
    </servlet-mapping>
    


</web-app>
