
/*****************/
/*   MAIN BODY   */
/*****************/
#container {
	font-size: 62.5%;
	margin: 0em auto;
	padding: 0em;	
  	font-family: Verdana,Tahoma, Arial,sans-serif;
    background-color: #CBD043;
}

#sidePanel {
	background-color: #CBD043;
	width: 255px;
	height: 900px;
}

#mainPanel {
        background-color: #FFFFFF;
        margin-left: 40px;
align: right;
}

#header {
	float: right;
	position: relative;
	left: 0px;
	top: 0px;
}

#wrap {
	width: 76em;
	margin: 0em auto;
}

.splash-title {
	font-size: 60pt;
	line-height: 65pt;	
}
.splash-word {
	font-size: 40pt;
	line-height: 22pt;	
	position: relative;
	left: 20px;		
}
.splash-definition {
	font-size: 20pt;
	line-height: 20pt;
	position: relative;
	left: 40px;		
}
.hid {
	color: rgb(90,90,90);
	text-decoration: none;	

}
.hid a:hover{
	color: rgb(90,90,90);
	text-decoration: none;	
}

/**************/
/*   HEADER   */
/**************/
#header-section {
	width: 76em;
	margin: 0em 0em 0em 0em;
}

#header-background {
	width: 100%; 
	height: 100%;
	float: left;
	border: none;
	margin: 0em 0em 0em 0em;
}

#header-background-left {
	width: 14.5em;
	float: left;
	margin: 0em 0em 0em 0em;
	padding: 0em 0em 0em 0em;
	border: none;
}

#header-background-right {
	width: 61.5em;
	float: right;
	margin: 0em 0em 0em 0em;
	padding: 0em 0em 0em 0em;
	border: none;
}

#header {
	clear: both;
	margin: 0em 0em 1.5em 0em;
	border-top: solid 0.1em rgb(175,175,175);
	border-bottom: solid 0.1em rgb(175,175,175);
	background-color: rgb(235,235,235);	
	text-transform: uppercase;
	line-height: 2.0em;
	height: 2.0em;
	color: rgb(50,50,50);
}

#header ul {	
	margin: 0em;
	padding: 0em;
	list-style: none;
	font-weight: bold;
	font-size: 1.0em;
}	

#header li {
	float: left;
	white-space: nowrap;
}

#header li a {
	display: block;
	padding: 0em 1.0em 0em 1.0em;
	border-right: solid 0.1em rgb(175,175,175);	
	background-color: rgb(235,235,235);	
	text-decoration: none;
	color: rgb(50,50,50);
}

#header a:hover {
	border-right: solid 0.1em rgb(175,175,175);	
	background-color: rgb(220,220,220);			
	text-transform: uppercase;
	text-decoration: none;
	color: rgb(50,50,50);
}

#header .selected {
	padding: 0em 0.5em 0em 0.5em;
	border-right: solid 0.1em rgb(175,175,175);		
	background-color: rgb(220,220,220);
	color: rgb(50,50,50);
}

* html #header a {width:1%;}
