/*****************/ /*   MAIN BODY   */ /*****************/
body {
	font-size: 62.5%;
	margin: 0em auto;
	padding: 0em;
	font-family: Verdana, Tahoma, Arial, sans-serif;
	background-color: #D2EAF9;
	background-image:url("../com.aavu.HippoTest/img/simplicity/ocean100.png");
}

#header {
	position: absolute;
	left: 200px;
	padding: 10px;
}

#content {
	padding-top: 120px;
}

#footer {
	position: fixed;
	left: 30%;
	top: 95%;
}

#sidebar {
	float: left;
	background-color: #d3d345; /*green*/
	width: 200px;
	height: 900px;
}

#sidebar>img {
	margin-left: 25px;
}

/*background-color: #B2BB2B;*/ /*bcard green*/
	/*background-color: #E1E184;*/ /*faded green*/
	/*background-color: #D3D345;*/ /*middle green*/
#whatIsIsland {
	position: absolute;
	left: 21%;
	top: 20%;
}

#whatIsIsland>div.islandOverlay {
	width: 500px;
	margin: 25px;
}

#signupIsland {
	position: absolute;
	left: 35%;
	top: 60%;
}

#signupIsland>div.islandOverlay {
	margin-left: 25px;
	margin-top: 40px;
}

#loginIsland {
	position: absolute;
	left: 60%;
	top: 20%;
}

#loginIsland>div.islandOverlay {
	margin-top: 5px;
	margin-left: 15px;
}

fieldset {
	border: none;
}

#loginForm input {
	margin-left: 10px;
}

.island { /*border-style: solid;
	border-width: 2px;
	border-color: red;*/
	
}

.islandOverlay {
	position: absolute;
	z-index: 2;
}

legend {
	color: #600D25; font-size : 1.3em;
	font-weight: bold;;
	font-size: 1.3em;
}

.islandHeader {
	color: #600D25;
	font-size: 2em;
	font-weight: bold;
}

.islandDesc {
	font-size: 1.5em;
}

.acre {
	width: 60px;
	height: 60px;
	position: absolute;
	-moz-user-select: none;
}

.slashUser {
	vertical-align: middle; 
	color: #CBD043;;
	font-size: 50pt;
}

.message {
	border: 2px;
	border-color: red;
	padding: 5px;
	background-color: #FFBB99;
}

.error {
	color: red;
}

.splash-title {
	font-size: 60pt;
	line-height: 65pt;
}

.splash-word {
	font-size: 4em;
	line-height: 1em;
	position: relative;
	left: 20px;
	margin-bottom: .4em;
	margin-top: .4em;
}

.splash-definition {
	font-size: 2em;
	line-height: 1em;
	position: relative;
	margin-bottom: .4em;
	margin-top: .4em;
	left: 40px;
}

.tip-question {
	font-weight: bold;
}

.hid {
	color: rgb(90, 90, 90);
	text-decoration: none;
}

.hid a:hover {
	color: rgb(90, 90, 90);
	text-decoration: none;
}
}