<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">


<beans>


	<bean id="container" class="org.db4ospring.ObjectContainerFactoryBean">
		<property name="databaseFile" value="file:c:\\DB\\db.yap"/>	
	</bean>

	<bean id="topicDAO" class="com.aavu.server.dao.db4o.TopicDAOdb4oImpl">
		<property name="objectContainer" ref="container"/>
	</bean>
	<bean id="tagDAO" class="com.aavu.server.dao.db4o.TagDAOdb4oImpl">
		<property name="objectContainer" ref="container"/>
	</bean>	
	<bean id="userDAO" class="com.aavu.server.dao.db4o.UserDAOdb4oImpl">
		<property name="objectContainer" ref="container"/>
		<property name="initDAO" ref="initDAO"/>
		<property name="init" value="true"/>
	</bean>
	<bean id="initDAO" class="com.aavu.server.dao.db4o.InitDAOImpl">
		<property name="objectContainer" ref="container"/>
		<property name="userService" ref="userService"/>
	</bean>
	

</beans>