<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">


<beans>


	<bean id="container" class="org.db4ospring.ObjectContainerFactoryBean">
		<property name="databaseFile" value="file:c:\\DB\\db.yap"/>	
	</bean>

	<bean id="topicDAO" class="com.aavu.server.dao.db4o.TopicDAOdb4oImpl">
		<property name="objectContainer" ref="container"/>
	</bean>
	<bean id="tagDAO" class="com.aavu.server.dao.db4o.TagDAOdb4oImpl">
		<property name="objectContainer" ref="container"/>
	</bean>	
	<bean id="userDAO" class="com.aavu.server.dao.db4o.UserDAOImpl">
		<property name="objectContainer" ref="container"/>
	</bean>

	<bean id="topicService" class="com.aavu.server.TopicServiceImpl">
		<property name="setByDI" value="I WAS SET" />
		<property name="topicDAO" ref="topicDAO"/>
	</bean>
	<bean id="tagService" class="com.aavu.server.TagServiceImpl">
		<property name="tagDAO" ref="tagDAO"></property>
	</bean>

	<bean id="GWTUserService" class="com.aavu.server.service.gwt.GWTUserServiceImpl">
		<property name="userService" ref="userService"/>
	</bean>
	
	<bean id="userService" class="com.aavu.server.service.impl.UserServiceImpl">
		<property name="userDAO" ref="userDAO"/>	
	</bean>

</beans>