<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<!-- Turn on HostPrecedingPropertyPlaceholderConfigurer -->
	<!-- http://jdwyah.blogspot.com/2006/12/updated-spring-configuration.html -->
	<bean id="propertyConfigurer" class="com.aavu.server.util.HostPrecedingPropertyPlaceholderConfigurer">
		<property name="location" value="classpath:config.properties" />
	</bean>

	<!-- Turn on @Required -->
	<bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor" />

	<bean id="GWTTopicService" class="com.aavu.server.service.gwt.GWTTopicServiceImpl">
		<property name="topicService" ref="topicService" />
		<property name="searchService" ref="searchService" />
	</bean>

	<bean id="GWTUserService" class="com.aavu.server.service.gwt.GWTUserServiceImpl">
		<property name="userService" ref="userService" />
	</bean>

	<bean id="GWTSubjectService" class="com.aavu.server.service.gwt.GWTExternalServiceImpl">
		<property name="externalServicesService" ref="externalServicesService" />		
		<property name="deliciousService" ref="deliciousService"/>
	</bean>

	<bean id="facebookService" class="com.aavu.server.service.facebook.impl.FacebookServiceImpl"></bean>

	<bean id="userService" class="com.aavu.server.service.impl.UserServiceImpl">
		<property name="userDAO" ref="userDAO" />
		<property name="editDAO" ref="editDAO" />
		<property name="maxUsers" value="150" />
		<property name="startingInvitations" value="3" />
	</bean>
	<bean id="topicService" class="com.aavu.server.service.impl.TopicServiceImpl">
		<property name="selectDAO" ref="selectDAO" />
		<property name="editDAO" ref="editDAO"></property>
		<property name="userService" ref="userService" />
	</bean>
	<bean id="searchService" class="com.aavu.server.service.impl.SearchServiceImpl">
		<property name="compass" ref="compass" />
		<property name="compassGPS" ref="compassGPS"></property>
		<property name="mirrorGPS" ref="hibernateGpsDevice" />
		<property name="selectDAO" ref="selectDAO"></property>
		<property name="userService" ref="userService" />
	</bean>
	<bean id="messageService" class="com.aavu.server.service.impl.MessageServiceImpl">
		<property name="userService" ref="userService" />
		<property name="editDAO" ref="editDAO" />
		<property name="selectDAO" ref="selectDAO" />
		<property name="fileService" ref="fileService" />
	</bean>
	<bean id="externalServicesService" class="com.aavu.server.service.impl.ExternalServicesServiceImpl">
		<property name="userService" ref="userService" />
		<property name="topicService" ref="topicService" />
		<property name="restUserAgent" value="MyHippocampus.com Server" />
	</bean>
	<bean id="deliciousService" class="com.aavu.server.service.impl.DeliciousServiceImpl">
		<constructor-arg value="MyHippocampus.com Server" />
		<constructor-arg value="api.del.icio.us" />
		<constructor-arg value="2000"/>

		<property name="userService" ref="userService" />
		<property name="topicService" ref="topicService" />
	</bean>

	<bean id="awsConnection" class="com.aavu.server.s3.com.amazon.s3.AWSAuthConnection">
		<property name="awsAccessKeyId" value="${aws.s3.auth}" />
		<property name="awsSecretAccessKey" value="${aws.s3.secret}" />
		<property name="defaultBucket" value="myhippocampus" />
	</bean>

	<bean id="fileService" class="com.aavu.server.service.impl.FilePersistanceServiceImpl">
		<property name="awsConnection" ref="awsConnection" />
		<property name="editDAO" ref="editDAO" />
	</bean>



	<bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer" abstract="false"
		scope="singleton" lazy-init="default" autowire="default" dependency-check="default">
		<property name="templateLoaderPath">
			<value>/</value>
		</property>
		<property name="freemarkerSettings">
			<props>
				<prop key="datetime_format">MM/dd/yyyy</prop>
				<prop key="number_format">0.#####</prop>
				<prop key="url_escaping_charset">ISO-8859-1</prop>
			</props>
		</property>
	</bean>
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="k2smtpout.secureserver.net" /><!-- http://help.godaddy.com/article.php?article_id=122&topic_id=120 -->
	</bean>
	<bean id="invitationService" class="com.aavu.server.service.impl.InvitationServiceImpl">
		<property name="mailingListDAO" ref="mailingListDAO"></property>
		<property name="configurer" ref="freemarkerConfig"></property>
		<property name="from" value="subscriptions@myhippocampus.com"></property>
		<property name="invitationTemplate" value="/WEB-INF/freemarker/mail/invitation.ftl"></property>
		<property name="mailSender" ref="mailSender"></property>
		<property name="userService" ref="userService" />
		<property name="masterkey" value="MonsterSeahorse"></property>
	</bean>

	<!-- the transactional advice (i.e. what 'happens'; see the <aop:advisor/> bean below) -->
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<!-- the transactional semantics... -->
		<tx:attributes>
			<!-- all methods starting with 'get' are read-only -->
			<tx:method name="get*" read-only="true" />
			<!-- other methods use the default transaction settings (see below) -->
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>

	<!-- ensure that the above transactional advice runs for any execution
		of an operation defined by the FooService interface.
		Odd SprindIDE 2.0 errors if these are in the same aop:config -->
	<aop:config>
		<aop:pointcut id="servicesPointcut" expression="execution(* com.aavu.server.service.*.*(..))" />
	</aop:config>

	<aop:config>
		<aop:advisor pointcut-ref="servicesPointcut" advice-ref="txAdvice" />
	</aop:config>

</beans>