<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
 		<property name="driverClass" value="${jdbc.driverClass}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.user}" />
		<property name="password" value="${HOST.jdbc.password}" />
		<property name="testConnectionOnCheckout" value="true"/>
	</bean>
	

	<bean id="mySessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="mappingResources">
			<list>
				<value>com/aavu/client/domain/User.hbm.xml</value>
				<value>com/aavu/client/domain/Subscription.hbm.xml</value>
				<value>com/aavu/client/domain/NewTopic.hbm.xml</value>
				<value>com/aavu/client/domain/Subject.hbm.xml</value>
				<value>com/aavu/client/domain/Occurrence.hbm.xml</value>				
				<value>com/aavu/client/domain/Mapper.hbm.xml</value>
				<value>com/aavu/client/domain/MailingList.hbm.xml</value>
				<value>com/aavu/client/domain/TopicTypeConnector.hbm.xml</value>				
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
			
<!--                 <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
                <prop key="hibernate.query.substitutions">true 'T', false 'F'</prop>
                <prop key="hibernate.show_sql">@@hibernate.show_sql@@</prop>
                <prop key="hibernate.c3p0.minPoolSize">5</prop>
                <prop key="hibernate.c3p0.maxPoolSize">20</prop>
                <prop key="hibernate.c3p0.timeout">600</prop>
                <prop key="hibernate.c3p0.max_statement">50</prop>
                <prop key="hibernate.c3p0.testConnectionOnCheckout">false</prop>-->
			
				<prop key="hibernate.dialect">${db.dialect}</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.bytecode.use_reflection_optimizer">true</prop>
				
				
				<!-- configuration pool via c3p0-->
				<!-- from http://forum.java.sun.com/thread.jspa?threadID=691105&tstart=0 -->				
<!-- try hibernate.c3p0 -->

 			
				<prop key="hibernate.c3p0.min_size">10</prop>
				<prop key="hibernate.c3p0.max_size">100</prop>
				<prop key="hibernate.c3p0.timeout">10</prop>
				<prop key="hibernate.c3p0.acquireRetryAttempts">30</prop>

				<prop key="hibernate.c3p0.acquireIncrement">5</prop>

				<prop key="hibernate.c3p0.idleConnectionTestPeriod">100</prop>

				<prop key="hibernate.c3p0.initialPoolSize">20</prop>
				<prop key="hibernate.c3p0.maxPoolSize">100</prop>
				<prop key="hibernate.c3p0.maxIdleTime">300</prop>
				<prop key="hibernate.c3p0.maxStatements">50</prop>
				<prop key="hibernate.c3p0.minPoolSize">10</prop>

				<prop key="hibernate.c3p0.preferredTestQuery">SELECT 1</prop>			
				
				
				<prop key="hibernate.c3p0.testConnectionOnCheckout">true</prop>



				<!-- configuration pool via c3p0-->
				<!-- from forums.hibernate -->
<!--				<prop key="c3p0.acquire_increment">1</prop> -->
<!--				<prop key="c3p0.idle_test_period">100</prop>  seconds  -->
<!--				<prop key="c3p0.max_size">100</prop> -->
<!--				<prop key="c3p0.max_statements">0</prop> -->
<!--				<prop key="c3p0.min_size">10</prop> -->
<!--				<prop key="c3p0.timeout">100</prop>  seconds  -->
			</props>
		</property>
	</bean>

	<bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>

	<bean id="selectDAO" class="com.aavu.server.dao.hibernate.SelectDAOHibernateImpl">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>
	<bean id="editDAO" class="com.aavu.server.dao.hibernate.EditDAOHibernateImpl">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>
	
	<bean id="tagDAO" class="com.aavu.server.dao.hibernate.TagDAOHibernateImpl">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>	
	<bean id="userDAO" class="com.aavu.server.dao.hibernate.UserDAOHibernateImpl">
		<property name="sessionFactory" ref="mySessionFactory" />
		<property name="initDAO" ref="initDAO"/>
		<property name="init" value="false"/>
	</bean>
	<bean id="initDAO" class="com.aavu.server.dao.hibernate.InitDAOHibernateImpl">
		<property name="sessionFactory" ref="mySessionFactory" />
		<property name="userService" ref="userService"/>
	</bean>
	
	<bean id="mailingListDAO" class="com.aavu.server.dao.hibernate.MailingListDAOHibernateImpl">
		<property name="sessionFactory" ref="mySessionFactory"/>	
	</bean>	

	<!--  COMPASS START -->
	<bean id="compass" class="org.compass.spring.LocalCompassBean" abstract="false" scope="singleton" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="resourceLocations">
			<list>
				<value>classpath:com/aavu/client/domain/hippocompass.cmd.xml</value>
				<value>classpath:hippocompass.cpm.xml</value>
			</list>
		</property>
		<property name="compassSettings">
			<props>
				<prop key="compass.engine.connection">${HOST.compass.repo}</prop>
				<prop key="compass.transaction.factory">org.compass.spring.transaction.SpringSyncTransactionFactory</prop>
				<prop key="compass.converter.html.type">com.aavu.server.lucene.util.HTMLConverter</prop>
				<prop key="compass.engine.analyzer.html.type">com.aavu.server.lucene.util.HTMLAnalyzer</prop>
				<prop key="compass.engine.analyzer.default.type">Snowball</prop>
				<prop key="compass.engine.analyzer.default.name">English</prop> 
			</props>
		</property>
		
		<!-- 
		<searchEngine>
        <analyzer name="deault" type="Snowball" snowballType="Lovins">
            <stopWords>
                <stopWord value="no" />
            </stopWords>
        </analyzer>
	    </searchEngine>-->
		
		<!-- <property name="classMappings">
			<list>
				<value>com.aavu.client.domain.generated.AbstractTopic</value>
			</list>
		</property>-->
		<property name="transactionManager">
			<ref local="txManager" />
		</property>
		
	</bean>
	<bean id="hibernateGpsDevice" class="org.compass.spring.device.hibernate.SpringHibernate3GpsDevice" abstract="false"
		scope="singleton" lazy-init="default" autowire="default" dependency-check="default">
		<property name="name">
			<value>hibernateDevice</value>
		</property>
		<property name="sessionFactory">
			<ref local="mySessionFactory" />
		</property>
	</bean>
	<bean id="compassGPS" class="org.compass.gps.impl.SingleCompassGps" init-method="start" destroy-method="stop" abstract="false"
		scope="singleton" lazy-init="default" autowire="default" dependency-check="default">
		<property name="compass">
			<ref bean="compass" />
		</property>
		<property name="gpsDevices">
			<list>
				<bean class="org.compass.spring.device.SpringSyncTransactionGpsDeviceWrapper" abstract="false" scope="singleton"
					lazy-init="default" autowire="default" dependency-check="default">
					<property name="gpsDevice" ref="hibernateGpsDevice" />
				</bean>
			</list>
		</property>
	</bean>
	<!--  COMPASS END -->

	

</beans>